@model PortaleFornitori.ViewModels.Fornitori.FornitoriIndexViewModel
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                <a href="@Url.Action("Edit",new { id=0 })"
                   data-toggle="modal"
                   data-target="#mioModale">
                    <span class="btn btn-success">Aggiungi</span>
                </a>
            </th>
            <th>Ragione Sociale</th>
            <th>Indirizzo</th>
            <th>Città</th>
            <th>Telefono</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var forn in Model.Fornitori)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Edit",new { id=forn.IdFornitore })"
                       data-toggle="modal"
                       data-target="#mioModale">
                        <span class="btn btn-primary">Modifica</span>

                    </a>
                    <a href="@Url.Action("Delete",new { id=forn.IdFornitore })"
                       data-toggle="modal"
                       data-target="#mioModale">
                        <span class="btn btn-danger">Elimina</span>
                        </a>
                </td>
                <td>@forn.RagioneSociale</td>
                <td>@forn.Indirizzo</td>
                <td>@forn.Citta</td>
                <td>@forn.Telefono</td>
            </tr>
        }
        @if (Model.Fornitori.Count() == 0)
        {
            <tr>
                <td colspan="5">
                    Nessun fornitore attualmente presente
                </td>
            </tr>
        }
    </tbody>
</table>


<nav aria-label="Page navigation example" style="text-align:center">
    <ul class="pagination">
        <li class="page-item">
            @Ajax.ActionLink("Prima", "List", new { PaginaCorrente = 1 }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "table_container", OnBegin = "Loading_OnBegin", OnComplete = "Loading_OnComplete" }, new { @class = "page-link" })
        </li>
        @foreach (var page in Model.PagineDaVisualizzare)
        {
            <li class="page-item
                @if(page == Model.PaginaCorrente)
                {
                    <text>active</text>
                }
                ">
                @Ajax.ActionLink(page.ToString(), "List", new { PaginaCorrente = page }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "table_container", OnBegin = "Loading_OnBegin", OnComplete = "Loading_OnComplete" }, new { @class = "page-link" })
            </li>
        }
        <li class="page-item">
            @Ajax.ActionLink("Ultima", "List", new { PaginaCorrente = Model.NumeroPagine }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "table_container", OnBegin = "Loading_OnBegin", OnComplete = "Loading_OnComplete" }, new { @class = "page-link" })
        </li>
    </ul>
</nav>

<div id="loading_overlay" style="display:none;position:absolute;top:0px;height:100%;width:100%;background-color:#CDCDCD55;z-index:1000;">
    <div id="loading_overlay_content" style="position:absolute;width:250px;right: calc(50% - 125px);top:calc(50% - 22px);z-index:10000;opacity:1;">
        <i class="fa fa-refresh fa-spin" style="font-size:32px"></i>
        <i style="font-size:32px;margin-left:20px">Caricamento ...</i>
    </div>
</div>